// Анимация
@keyframes render {
    0% {
        stroke-dasharray: 0 100;
    }
}


// Вспомагательные стили
.hovered {
    opacity: 0.8;
    stroke-width: 12;
}


// Основные стили
.quiz-statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;

    &__chart {

    }

    &__unit {
        fill: none;
        stroke-width: 10;
        animation-name: render;
        animation-duration: 1.5s;
        transition-property: all;
        transition-duration: 1.5s;

        &_true {
            stroke: #86cfa3;
            stroke-dasharray: 8 100;
        }

        &_wrong {
            stroke: #ffc7ec;
            stroke-dasharray: 11 100;
            stroke-dashoffset: 0;
        }

        &_null {
            stroke: #a2c6e0;
            stroke-dasharray: 11 100;
            stroke-dashoffset: 0;
        }

        &:hover {
            opacity: 0.8;
            stroke-width: 12;
        }
    }

    &__legend {
        display: grid;
        max-width: 250px;
        grid-template-columns: 1fr 0;
        grid-template-rows: 1fr;
        grid-template-areas: "title title" "caption percent" "total total";
        margin-left: 30px;
    }


    &__title {
        grid-area: title;
        font-size: 20px;
        line-height: 21px;
    }

    &__caption-list {
        grid-area: caption;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__caption-item {
        position: relative;
        height: 2rem;
        margin: 20px 0;
        padding-left: 30px;
        font-size: 16px;
        line-height: 18px;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }

        &::before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;

            width: 20px;
            height: 20px;

            border-radius: 8px;
        }

        &_true {
            &::before {
                background-color: #86cfa3;
            }
        }

        &_wrong {
            &::before {
                background-color: #ffc7ec;
            }
        }

        &_null {
            &::before {
                background-color: #a2c6e0;
            }
        }


        &_total {
            &::before {
                background-color: #dba811;
            }
        }
    }

    &__percent-list {
        grid-area: percent;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__percent-item {
        position: relative;
        width: 7em;
        height: 2rem;
        margin: 20px 0;
        padding-left: 30px;
        font-size: 16px;
        line-height: 18px;
        cursor: pointer;
        padding-top: 2px;
    }

    &__total {
        grid-area: total;
    }
}
