// Анимация
@keyframes render {
    0% {
        stroke-dasharray: 0 100;
    }
}


// Вспомагательные стили
.hovered {
    opacity: 0.8;
    stroke-width: 12;
}


// Основные стили
.quiz__statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;

    &-unit {
        fill: none;
        stroke-width: 10;
        animation-name: render;
        animation-duration: 1.5s;
        transition-property: all;
        transition-duration: 1.5s;

        &:nth-child(1) {
            stroke: #86cfa3;
            stroke-dasharray: 8 100;
        }

        &:nth-child(2) {
            stroke: #ffc7ec;
            stroke-dasharray: 11 100;
            stroke-dashoffset: 0;
        }

        &:nth-child(3) {
            stroke: #a2c6e0;
            stroke-dasharray: 11 100;
            stroke-dashoffset: 0;
        }

        &:hover {
            opacity: 0.8;
            stroke-width: 12;
        }
    }

    &-legend {
        display: grid;
        max-width: 250px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "title title" "caption percent" "total total";
        margin-left: 30px;
    }


    &-title {
        grid-area: title;
        font-size: 18px;
        line-height: 21px;
        color: #591d48;
    }

    &-caption-list {
        grid-area: caption;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &-percent-list {
        grid-area: percent;
    }

    &-caption-item {
        position: relative;

        margin: 20px 0;
        padding-left: 30px;

        font-size: 16px;
        line-height: 18px;
        color: #591d48;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }

        &::before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;

            width: 20px;
            height: 20px;

            border-radius: 8px;
        }

        &:nth-child(1)::before {
            background-color: #86cfa3;
        }

        &:nth-child(2)::before {
            background-color: #ffc7ec;
        }

        &:nth-child(3)::before {
            background-color: #a2c6e0;
        }
    }

    &-total {
        grid-area: total;
    }
}
