.cheat-sheet
	table.cheat-sheet__table
		caption.cheat-sheet__title.cheat-sheet__title_expanded.accordionTrigger Кинематика криволинейного движения
		thead.cheat-sheet__thead.cheat-sheet__thead_collapsed
			tr
				th №
				th Формула
				th(colspan=3) Название формулы
		tbody.cheat-sheet__tbody.cheat-sheet__tbody_collapsed
			tr
				td 1
				td \(\nu = \frac{N}{t}\)
				td Частота обращения
			tr
				td 2
				td \(T = \frac{t}{N}\)
				td Период обращения
			tr
				td 3
				td \(T = \frac{1}{\nu}\)
				td Связь между периодом и частотой обращения
			tr
				td 4
				td \(\vartheta = \frac{s}{t}\)
				td Линейная скорость
			tr
				td 5
				td \(\vartheta = \frac{2\pi r}{T}\)
				td Линейная скорость, выраженная через период обращения
			tr
				td 6
				td \(\vartheta = 2\pi r\nu\)
				td Линейная скорость, выраженная через частоту обращения 
			tr
				td 7
				td \(\omega = \frac{\phi}{t}\)
				td Угловая скорость
			tr
				td 8
				td \(\omega = \frac{2\pi}{T}\)
				td Угловая скорость, выраженная через период обращения
			tr
				td 9
				td \(\omega = 2\pi\nu\)
				td Угловая скорость, выраженная через частоту обращения 
			tr
				td 10
				td \(\vartheta = \omega r\)
				td Формула связи между линейной и угловой скоростью
			tr
				td 11
				td \(a = \frac{\vartheta^2}{r}\)
				td Центростремительное ускорение, выраженная через линейную скорость
			tr
				td 12
				td \(a = \omega^2 r\)
				td Центростремительное ускорение, выраженная через угловую скорость