.cheat-sheet
	table.cheat-sheet__table
		caption.cheat-sheet__title.accordionTrigger Кинематика прямолинейного движения
		thead.cheat-sheet__thead
			tr
				th №
				th Формула
				th(colspan=3) Название формулы
		tbody.cheat-sheet__tbody
			tr
				td 1
				td \(s_x = x - x_0\)
				td Проекция перемещения на ось X
			tr
				td 2
				td \(\vec{\vartheta} = \frac{\vec{s}}{t}\)
				td Скорость равномерного прямолинейного движения
			tr
				td 3
				td \(\vartheta_{ср} = \frac{s}{t}\)
				td Средняя скорсть
			tr
				td 4
				td \(x = x_0 + \vartheta_{x}t\)
				td Уравнение равномерного прямолинейного движения
			tr
				td 5
				td \(\vec{a} = \frac{\vec{\vartheta} - \vec{\vartheta_{0}}}{t}\)
				td Ускорение при равноускоренном движении
			tr
				td 6
				td \(\vec{\vartheta} = \vec{\vartheta_{0}} + \vec{a}t\)
				td Скорость при равноускоренном движении
			tr
				td 7
				td \(\vec{s} = \frac{\vec{\vartheta} + \vec{\vartheta_{0}}}{2}t\)
				td Перемещение при равноускоренном движении
			tr
				td 8
				td \(\vec{s} = \vec{\vartheta_{0}}t + \frac{\vec{a}t^{2}}{2}\)
				td Зависимость перемещения при равноускоренном движении от времени
			tr
				td 9
				td \(s_{x} = \frac{\vartheta^{2}_{0} - \vartheta^{2}_{x0}}{2a_{x}}\)
				td Проекция перемещения при равноускоренном движении без времени
			tr
				td 10
				td \(x = x_{0} + \vartheta_{0}t + \frac{\vec{a}t^{2}}{2}\)
				td Уравнение равноускоренного движения

