.page-header {
	background-color: $main-color;
	color: $darken-text;

	&__wrapper {
		@include row-flex();
		justify-content: space-between;
	}

	&__logo {
		@include col();
		@include size(5);
	}

	&__menu {
		@include col();
		@include size(7);
		a {
			color: $darken-text;
		}
	}

}
