header.page-header
	.container.page-header_wrapper
		a.main-logo.page-header__logo
			picture
				img(src="img/svg/logo.svg")
		nav.main-menu
			ul.main-menu__site-nav
				li.main-menu__site-nav_active.main-menu__item
					a(href="index.html") Главная
				li.main-menu__site-nav_active.main-menu__item
					a(href="index.html") Катлог тестов
				li.main-menu__site-nav_active.main-menu__item
					a(href="index.html") Новости

