mixin prewie-test(title, descr, href)
	li.prewie-test__item
		a(href="")
			.prewie-test__item-wrapper
				.preview-test__item-image
					picture
						img(alt=title src="img/preview__test/"+href+".svg")
			h3.prewie-test__item-title= title
			.preview-test__item-description
				if descr
					p= descr
				else
					p No content provided

mixin main-menu(custom_class)
	nav(class='main-menu ' + custom_class)
		ul.main-menu__site-nav
			li.main-menu__site-nav_active.main-menu__item
				a(href="index.html") Главная
			li.main-menu__site-nav_active.main-menu__item
				a(href="index.html") Каталог тестов
			li.main-menu__site-nav_active.main-menu__item
				a(href="index.html") Новости

mixin main-logo(custom_class)
	a(class='main-logo ' + custom_class)
		picture
			img(src="img/svg/logo.svg" alt="Логотип LearningTestingProject Тесты по физике")