.preview-test {
	&__list {
		@include row-flex();
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		width: 300px;
		list-style: none;
		border: 1px solid red;
		@include col();
		@include size(3);
		cursor: pointer;
		padding: 10px;
		margin: 10px;
		// @include shift-left(1);

		&-wrapper {

		}

		&-image {
			img {
				width: 210px;
			}
		}

		&-title {

		}
	}

}