.quiz__progress
	svg.progress-ring(height='100' width='100')
		circle.progress-ring__circle(cx='50' cy='50' fill='transparent' r='34' stroke='#45DE2C' stroke-width='8')
		span.progress-ring__text 0&nbsp;%