.quiz__progress {
    position: absolute;
    left: 90%;
}

.progress-ring__circle {
    transform: rotate(-90deg);
    transition: stroke-dashoffset .5s;
    transform-origin: center;
}

.progress-ring__text {
    font-size: 18px;
    font-weight: 700;

    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 24px);

    color: #55b541;
}

.quiz__result {
    position: absolute;
    left: calc(50% - 50px);
}

.result-ring__circle {
    transform: rotate(-90deg);
    transition: stroke-dashoffset .5s;
    transform-origin: center;
}

.result-ring__text {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: calc(50% - 48px);
    left: calc(50% - 63px);
    color: #55b541;
}