.page-main__information
	h2 Информация о тестах
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum itaque dicta voluptate voluptates dolores ab expedita explicabo maiores dolore facilis eum, nulla vel aliquid voluptatem distinctio, repellendus nam quod aspernatur quos quam error? Assumenda aperiam vel commodi fugiat porro, animi voluptatibus perferendis esse!
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis officia laboriosam corrupti, repellendus, natus, harum quisquam exercitationem perspiciatis autem dolor quidem. Deleniti reprehenderit, praesentium perferendis dolorem, eos odio nostrum sequi illo autem, ipsam est!
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi facere laboriosam cupiditate itaque.

