.page-main__information
	.information__block
		h2.information__title Приветствую вас,
		p.information__paragraph  Этот сайт создан для всех кто хочет выучить или повторить формулы по физике(в будущем планируется добавление и других предметов). Используйте его мудро.
		p.information__paragraph  Все тесты вы можете найти в каталоге, там они разбросаны по темам. Выбирайте нужную вам и начинайте тестирование. Но перед тестом, необходимо изучить 
			a.information__link(href="instruction.html") инструкцию по вводу ответов
			|.
		p.information__paragraph  Заранее прошу прощение за баги, проект в активной разработке. Если вы нашли какую-нибудь ошибку напишите 
			a.information__link(href="mailto:zahartd22@gmail.com") сюда
			| .
	.information__block
		h2.information__title Благодарности
		p.information__paragraph
			| Image by 
			a.information__link(href='https://pixabay.com/users/janjf93-3084263/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2480162') janjf93
			|  from 
			a.information__link(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2480162') Pixabay
		p.information__paragraph
			| Image by 
			a(href='https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=30070') Clker-Free-Vector-Images
			|  from 
			a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=30070') Pixabay
		p.information__paragraph
			| Image by 
			a(href='https://pixabay.com/users/OpenClipart-Vectors-30363/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=155256') OpenClipart-Vectors
			|  from 
			a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=155256') Pixabay
		p.information__paragraph
			| Image by 
			a(href='https://pixabay.com/users/helder100-2938596/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1526374') helder100
			|  from 
			a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1526374') Pixabay
		p.information__paragraph
			| Image by 
			a(href='https://pixabay.com/users/OpenClipart-Vectors-30363/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=154887') OpenClipart-Vectors
			|  from 
			a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=154887') Pixabay
		p.information__paragraph
			| Image by 
			a(href='https://pixabay.com/users/yeTis-12402839/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4683675') yeTis
			|  from 
			a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4683675') Pixabay
		p.information__paragraph
			| Image by 
			a(href='https://pixabay.com/users/OpenClipart-Vectors-30363/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=153422') OpenClipart-Vectors
			|  from 
			a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=153422') Pixabay
		p.information__paragraph
			| Image by 
			a(href='https://pixabay.com/users/OpenClipart-Vectors-30363/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=145104') OpenClipart-Vectors
			|  from 
			a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=145104') Pixabay