extends ../layouts/default
include ../helpers/mixins
include ../helpers/variables

block variables
	- const title = "Result";

block content
	include ../../blocks/modules/header/header
	main.page-main
		.container
			.quiz-result.display-none
				h2.quiz-result__title.quiz-result__title_big Ваш результат
				include ../../blocks/modules/quiz-statistics/quiz-statistics
				include ../../blocks/modules/quiz-result/__answers/quiz-result__answers
	include ../../blocks/modules/footer/footer
block scripts
	script(src="js/vendor.js" defer)
	script(src="js/quiz.js")