input#result(autofocus='')
p When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
.keyboard
  .keyboard__row
    .key
      span
    .key
      span \(\sum\)
    .key
      span 2
      sup @
    .key
      span 3
      sup #
    .key
      span 4
      sup $
    .key
      span 5
      sup %
    .key
      span 6
      sup ^
    .key
      span 7
      sup ?
    .key
      span 8
      sup *
    .key
      span 9
      sup (
    .key
      span 0
      sup )
    .key
      span -
      sup _
    .key
      span =
      sup +
    .key.backspace
      span Backspace
  .keyboard__row
    .key.tab
      span Tab
    .key
      span цц
    .key
      span &ne;
    .key
      span &ucy;
    .key
      span &kcy;
    .key
      span &iecy;
    .key
      span &ncy;
    .key
      span &gcy;
    .key
      span &shcy;
    .key
      span &shchcy;
    .key
      span a'
    .key
      span &khcy;
    .key
      span &hardcy;
    .key
      span \
  .keyboard__row
    .key.capslock
      span Caps Lock
    .key
      span &fcy;
    .key
      span &ycy;
    .key
      span &vcy;
    .key
      span &acy;
    .key
      span &pcy;
    .key
      span &rcy;
    .key
      span &ocy;
    .key
      span &lcy;
    .key
      span &dcy;
    .key
      span &zhcy;
    .key
      span &ecy;
  .keyboard__row
    .key.shift
      span Shift
    .key
      span &yacy;
    .key
      span &chcy;
    .key
      span &scy;
    .key
      span &mcy;
    .key
      span &icy;
    .key
      span &tcy;
    .key
      span &softcy;
    .key
      span &bcy;
    .key
      span &yucy;
    .key
      span .
    .key
      span ,
  .keyboard__row
    .key.space Space