.math-keyboard
  .math-keyboard__row
    button(type="button").math-keyboard__key
      span.derivative \('\)
    button(type="button").math-keyboard__key
      span.two-derivative \(''\)
    button(type="button").math-keyboard__key
      span.sum \(\displaystyle\sum_{i=1}^n\)
    button(type="button").math-keyboard__key
      span.integral \(\int\)
    button(type="button").math-keyboard__key
      span.plus \(+\)
    button(type="button").math-keyboard__key
      span.minus \(-\)
    button(type="button").math-keyboard__key
      span.times \(*\)
    button(type="button").math-keyboard__key
      span.division \(/\)
    button(type="button").math-keyboard__key
      span.plus-minus \(\pm\)
    button(type="button").math-keyboard__key
      span.cosine \(\cos\)
    button(type="button").math-keyboard__key
      span.sine \(\sin\)
    button(type="button").math-keyboard__key
      span.tan \(\tg\)
    button(type="button").math-keyboard__key
      span.equally \(=\)
    button(type="button").math-keyboard__key.backspace
      span Backspace
  .keyboard__row
    button(type="button").math-keyboard__key.tab
      span Tab
    button(type="button").math-keyboard__key
      span.sqrt \(\sqrt{x}\)
    button(type="button").math-keyboard__key
      span.bracket-o (
    button(type="button").math-keyboard__key
      span.bracket-c )
    button(type="button").math-keyboard__key
      span.vector \(\vec{F}\)
    button(type="button").math-keyboard__key
      span.fraction \(\frac{a}{b}\)
    button(type="button").math-keyboard__key
      span.index-b \(x_n\)
    button(type="button").math-keyboard__key
      span.index-t \(e^x\)
    button(type="button").math-keyboard__key
      span.infinity \(\infty\)
    button(type="button").math-keyboard__key
      span.percent \(\%\)
    button(type="button").math-keyboard__key
      span.prod \(\prod\)
    button(type="button").math-keyboard__key
      span.const const
    button(type="button").math-keyboard__key
      span.forall \(\forall\)
    button(type="button").math-keyboard__key
      span.sh \
  .keyboard__row
    button(type="button").math-keyboard__key.capslock
      span Caps Lock
    button(type="button").math-keyboard__key
      span.phi \(\phi\)
    button(type="button").math-keyboard__key
      span.rho \(\rho\)
    button(type="button").math-keyboard__key
      span.nu \(\nu\)
    button(type="button").math-keyboard__key
      span.alpha \(\alpha\)
    button(type="button").math-keyboard__key
      span.beta \(\beta\)
    button(type="button").math-keyboard__key
      span.gamma \(\gamma\)
    button(type="button").math-keyboard__key
      span.delta \(\delta\)
    button(type="button").math-keyboard__key
      span.eta \(\eta\)
    button(type="button").math-keyboard__key
      span.lambda \(\lambda\)
    button(type="button").math-keyboard__key
      span.mu \(\mu\)
    button(type="button").math-keyboard__key
      span.pi \(\pi\)
  .keyboard__row
    button(type="button").math-keyboard__key.shift
      span Shift
    button(type="button").math-keyboard__key
      span.sigma \(\sigma\)
    button(type="button").math-keyboard__key
      span.epsilon \(\epsilon\)
    button(type="button").math-keyboard__key
      span.varepsilon \(\varepsilon\)
    button(type="button").math-keyboard__key
      span.vartheta \(\vartheta\)
    button(type="button").math-keyboard__key
      span.phiBig \(\Phi\)
    button(type="button").math-keyboard__key
      span.varphi \(\varphi\)
    button(type="button").math-keyboard__key
      span.varDelta \(\varDelta\)
    button(type="button").math-keyboard__key
      span.phi \(\phi\)
    button(type="button").math-keyboard__key
      span.xi \(\xi\)
    button(type="button").math-keyboard__key
      span.omega \(\omega\)
    button(type="button").math-keyboard__key
      span.kappa \(\kappa\)
  .keyboard__row
    button(type="button").math-keyboard__key.space 
      span.space Space