span \(a''\)

.keyboard
  .keyboard__row
    button.key
      span.derivative \('\)
    button.key
      span.two-derivative \(''\)
    button.key
      span.sum \(\displaystyle\sum_{i=1}^n\)
    button.key
      span.integral \(\int\)
    button.key
      span.plus \(+\)
    button.key
      span.minus \(-\)
    button.key
      span.times \(*\)
    button.key
      span.division \(/\)
    button.key
      span.plus-minus \(\pm\)
    button.key
      span.cosine \(\cos\)
    button.key
      span.sine \(\sin\)
    button.key
      span.tan \(\tg\)
    button.key
      span.equally \(=\)
    button.key.backspace
      span Backspace
  .keyboard__row
    button.key.tab
      span Tab
    button.key
      span.sqrt \(\sqrt{x}\)
    button.key
      span.bracket-o (
    button.key
      span.bracket-c )
    button.key
      span.vector \(\vec{F}\)
    button.key
      span.fraction \(\frac{a}{b}\)
    button.key
      span.index-b \(x_n\)
    button.key
      span.index-t \(e^x\)
    button.key
      span.infinity \(\infty\)
    button.key
      span.percent \(\%\)
    button.key
      span.prod \(\prod\)
    button.key
      span.const const
    button.key
      span.forall \(\forall\)
    button.key
      span.sh \
  .keyboard__row
    button.key.capslock
      span Caps Lock
    button.key
      span.phi \(\phi\)
    button.key
      span.rho \(\rho\)
    button.key
      span.nu \(\nu\)
    button.key
      span.alpha \(\alpha\)
    button.key
      span.beta \(\beta\)
    button.key
      span.gamma \(\gamma\)
    button.key
      span.delta \(\delta\)
    button.key
      span.eta \(\eta\)
    button.key
      span.lambda \(\lambda\)
    button.key
      span.mu \(\mu\)
    button.key
      span.pi \(\pi\)
  .keyboard__row
    button.key.shift
      span Shift
    button.key
      span.sigma \(\sigma\)
    button.key
      span.epsilon \(\epsilon\)
    button.key
      span.varepsilon \(\varepsilon\)
    button.key
      span.vartheta \(\vartheta\)
    button.key
      span.phiBig \(\Phi\)
    button.key
      span.varphi \(\varphi\)
    button.key
      span.varDelta \(\varDelta\)
    button.key
      span.phi \(\phi\)
    button.key
      span.xi \(\xi\)
    button.key
      span.omega \(\omega\)
    button.key
      span.kappa \(\kappa\)
  .keyboard__row
    button.key.space 
      span.space Space