.quiz-result__answers
	.quiz-result__answers-item
		span.quiz-result__true-answer
		span.quiz-result__user-answer
	.quiz-result__answer-item
		span.quiz-result__true-answer
		span.quiz-result__user-answer
	.quiz-result__answer-item
		span.quiz-result__true-answer
		span.quiz-result__user-answer