table.quiz-result__table
	caption.quiz-result__table-title Ваши ответы и ошибки
	thead.quiz-result__table-head
		tr.quiz-result__table-row
			th.quiz-result__table-cell.quiz-result__table-head-cell №
			th.quiz-result__table-cell.quiz-result__table-head-cell Ваш ответ
			th.quiz-result__table-cell.quiz-result__table-head-cell Правильный ответ
	tbody.quiz-result__table-body