.math-editor
	.math-editor__container
		span.math-editor__cursor
		span.math-editor__text
	.math-editor__inputs
		input#resultBase(autofocus='')
		input#resultFractionA()
		input#resultFractionB()
		input#resultIndexBottom()
		input#resultIndexTop()