.editor {
    position: relative;
    min-height: 48px;
    max-height: 288px;
    border: 1px solid #e1e1e1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 18px;
    padding-bottom: 18px;
}