.math-editor
	.math-editor__container
		span.math-editor__cursor
		span.math-editor__text
	.math-editor__inputs
		input#result(autofocus='')
		input#result-a()
		input#result-b()
		input#result-iu()
		input#resultIndexTop()