.math-editor
	.math-editor__container
		span.math-editor__cursor
		span.math-editor__text
	.math-editor__input
		input.visually-hidden#resultBase(autofocus='')
		input.visually-hidden#resultFractionA()
		input.visually-hidden#resultFractionB()
		input.visually-hidden#resultIndexBottom()
		input.visually-hidden#resultIndexTop()