.page-footer {
	flex: 0 0 auto;
	background-color: #4a47a9;
	&__wrapper {
		@include row-flex();
		justify-content: space-between;
	}

	&__logo {
		@include col();
		@include size(2);
	}

	&__copyright {
		@include col();
		@include size(2);
	}

	&__social {
		@include col();
		@include size(2);
		&-list {

		}
		&-item {
			font-size: 0px;
		}
	}

	&__menu {
		@include col();
		@include size(6);
	}
}