footer.page-footer
	.container.page-footer__wrapper
		a.main-logo.page-footer__logo
			picture

		.page-footer__copyright
			p &copy 
				a(href="zahartd") zahartd.com
		.page-footer__social
			ul.page-footer__social-list
				li.page-footer__social-item
					a(href="https://vk.com/") Вконтакте
						picture
				li.page-footer__social-item
					a(href="https://www.instagram.com/") Инстаграм
						picture
				li.page-footer__social-item
					a(href="https://ok.ru/") Одноклассники
						picture
		+main-menu('page-footer__menu')