footer.page-footer
	.container.page-footer__wrapper
		+main-logo('page-footer__logo')
		.page-footer__copyright
			p &copy 
				a(href="zahartd") zahartd.com
		.page-footer__social
			ul.page-footer__social-list
				li.page-footer__social-item
					a(href="https://vk.com/") Вконтакте
						picture
							img(src="img/svg/vk.svg" alt="Вконтакте")
				li.page-footer__social-item
					a(href="https://www.instagram.com/") Инстаграм
						picture
							img(src="img/svg/inst.svg" alt="Инстаграм")
				li.page-footer__social-item
					a(href="https://ok.ru/") Одноклассники
						picture
							img(src="img/svg/ok.svg" alt="Одноклассники")
		+main-menu('page-footer__menu')